* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 60px;
  width: 100vw;
  background-color: #3367d6;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
}

.app-logo {
  height: 30px;
  width: 100px;
  margin-left: 20px;
}

.search-container {
  margin-left: 550px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.search-img-container {
  height: 45px;
  width: 65px;
  background-color: #2850a7;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border: 0.02rem solid white;
}

.search-img {
  height: 30px;
  width: 30px;
}

.searchInputContainer {
  height: 45px;
  width: 600px;
  background-color: #2850a7;
  border: 0.02rem solid white;
  outline: white;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #64748b;
  align-self: center;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 400;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
